<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ex-dischi-musicali</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/vue"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
			<div id="app">
        <header>
            <div class="container">
              <img src="logo.png" alt="logo" />
            </div>
        </header>

				<div class="container">
					<label class="filter" for="genreFilter">Filter by Genre</label>
					<select id="genreFilter" v-model="chosenGenre">
						<option>All</option>
						<option v-for="genre in genres">{{genre}}</option>
					</select>
				</div>

        <div class="cds-container container">
          <!-- Disco ad esempio -->
          <div class="cd" v-for="disk in disks" v-if="chosenGenre === 'All' || chosenGenre === disk.genre">
            <img :src="disk.poster" alt="">
            <h3>{{disk.title}}</h3>
            <span class="author">{{disk.author}}</span>
            <span class="year">{{disk.year}}</span>
          </div>
        </div>
			</div>

      <script src="main.js" charset="utf-8"></script>
    </body>
</html>
